.header {
	padding-top: 86px;
	padding-bottom: 96px;
	padding-left: 18px;
	position: relative;
	display: grid;
	place-items:center;
	grid-template-columns: 2fr 1fr 2fr;
	grid-template-rows: auto;
	color: black;
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
}

.header__menu {
	position: relative;
	text-transform: lowercase;
	text-align: right;
	display: grid;
	place-items:center;
	grid-template-columns: repeat(5, auto);
	grid-template-rows: auto;
	gap: 14px;
	padding-left: 20px;
}

.header__logo {
	position: relative;
	padding-right: 15px;
	height: 105px;
}

.header__links-list-item {
	text-decoration: none;
}

.address {
	font-style: normal;
	position: relative;
	padding-left: 55px;
	line-height: 24px;
}

.background-img {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.cover {
	position: relative;
	width: 1100px;
	height: 756px;
	background-image: url(../images/cover.jpg);
}

.cover::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.cover-container {
	position: relative;
	padding: 50px;
	width: 100%;
	height: 100%;
}

.overlay {
	position: relative;
	display: grid;
	align-items: center;
	grid-template-columns: auto;
	grid-template-rows: auto 50px;
	width: 100%;
	height: 100%;
}

.cover__title {
	color: white;
	font-style: normal;
	font-weight: 700;
	font-size: 100px;
	text-transform: uppercase;
	letter-spacing: 30px;
}

.aligned-text_center {
	text-align: center;
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.aligned-text_right {
	text-align:right;
}

.no-letter-spacing {
	letter-spacing: 0;
}

.description {
	color: white;
	display: grid;
	grid-template-columns: 638px 256px;
	grid-template-rows: 51px;
	justify-content: space-between;

}

.cover__description-text {
	color: white;
	font-style: normal;
	font-size: 22px;
	text-transform: uppercase;
	text-align-last: justify;
	line-height: 28px;
	align-content: center;

}

.bet-button {
	border: 1px solid white;
	background: transparent;
	color: white;
	font-style: normal;
	font-size: 22px;
	text-transform: uppercase;
	padding: 10px 30px;
	align-content: center;
}

.bet-button:hover {
	background: darkgray;
}

.bet-button:active {
	background: gray;
}

.lots {
	position: relative;
	padding-top: 180px;
	width: 100%;
	height: 100%;
	list-style-type: none;
}

.lots__heading {
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 28px;
	padding-left: 64px;
}

.lots__card-list {
	position: relative;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 25px;
	padding-left: 25px;
	padding-right: 25px;
}

.card {
	position: relative;
	height: 596px;
	width: 334px;
}

.card__title {
  color: white;	
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: underline;
  padding-top: 48px; 
	padding-left: 40px; 
	padding-right: 40px;
}

.card__text {
	position: absolute;
	bottom: 0;
  color: white;	
	font-size: 20px;
	font-weight: 400;
  padding-left: 40px; 
	padding-right: 40px;
  padding-bottom: 48px; 
	line-height: 120%;
}

.card_type_film {
	background: 
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(../images/card-lot-01.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;

}

.card_type_book {
	background: 
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(../images/card-lot-02.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;

}

.card_type_picture {
	background: 
		linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url(../images/card-lot-03.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.lots__look-more-link {
	position: relative;
	padding-top: 30px;
	padding-left: 64px;
	color: black;
	font-size: 20px;
	font-weight: 400;
	text-transform: lowercase;
	text-decoration: underline;
}

.about {
	position: relative;
	padding-top: 150px;
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	justify-content: start;
	align-content: start;
}

.about__logo {
	width: 240px;
  	height: 240px;
  	border-radius: 50%;
  	background-color: black;
	text-align: center;
	display: grid;
  justify-content: center; 
	align-content: center;
	margin-left: 71px;
	margin-right: 72px;
	
}

.about__logo-image {
	width: 148px;

}

.about__title {
	padding-top: 10px;
	font-size: 40px;
	font-weight: 700;
	text-transform: uppercase;
	justify-self: start;
	align-self: center;
}

.about__text {
	margin-top: 10px;
	margin-right: 28px;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
}

.footer {
	position: relative;
	padding-top: 180px;
	padding-bottom: 82px;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto;
	align-items: start;
	justify-content: space-between;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	padding-left: 50px;
	padding-right: 50px;
}

.footer__menu {
	position: relative;
	color: black;
	font-style: normal;
	font-size: 18px;
	text-transform: lowercase;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: repeat(3, 1fr);
	place-items: center;
}

.footer__social-list-item {
	display: grid;
	grid-template-columns: repeat(3, auto);
	grid-template-rows: auto;
	gap: 48px;
}

.footer__social-icon {
	height: 48px
}